body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #626D71;
}
div{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 80px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #A1BE95;
    border-radius: 5px;
}
table{
  border: 2px solid #333;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 10px;
}
td {
  text-align: center;
}
button{
  font-size: 200%;
  text-align: center;
  width: 70px;
  border-radius: 5px;
  background-color: #CDCDC0;
}
button#newGame{

  font-size: 200%;
  text-align: center;
  width: 250px;
  border-radius: 50px;
  background-color: #c65353;
}